@import url('https://fonts.googleapis.com/css2?family=Corben&family=Dawning+of+a+New+Day&family=IBM+Plex+Mono&family=Orbitron&display=swap');
#container{
    margin-bottom: 15px;
}

h1#title {
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
}

h2#responses{
    text-align: left;
}

#submitButton{
    width: 20%;
    height: 10%;
    font-size: 11px;
    background-color: #3F2754;
}

#loadingButton{
    width: 20%;
    height: 10%;
    font-size: 11px;
}

#buttons{
    text-align: right;
}

#stack{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


@media only screen and (max-width:350px){ /*for galaxy fold */
    h1#title {
      text-align: center;
      padding-left: 0%;
    }
    #stack{
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
    #buttons{
        text-align: center;
    }
}
