#container{
    margin-bottom: 15px;
}

h1#title {
    text-align: left;
}
#submitButton{
    width: 20%;
    height: 10%;
    font-size: 11px;
}

#buttons{
    text-align: right;
}

#stack{
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

@media only screen and (max-width:350px){ /*for galaxy fold */
    h1#title {
      text-align: center;
      padding-left: 0%;
    }
    #stack{
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
    #buttons{
        text-align: center;
    }
}
