@import url('https://fonts.googleapis.com/css2?family=Corben&family=Dawning+of+a+New+Day&family=IBM+Plex+Mono&family=Orbitron&display=swap');
#title{
    font-family: 'IBM Plex Mono', monospace;
}

#main{
    background-color: #3F2754;
}

/*#left{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: left;
}

#right{
    flex: 50%;
    height: 100%;
    display: flex;
    text-align: right;
}*/